*.png
*.tex
*.html
*.pdf
paper.fdb_latexmk
paper.fls
paper.log
paper.out
paper.aux
paper.bbl
paper.bcf
paper.blg
paper.run.xml
paper.toc
paper.lof
paper.lot
paper.tdo
paper.dvi
paper.synctex(busy)
missfont.log
_cache
Chr13_files
Chr5_files
Chr2_files
mwe.Rnw
mwe.bcf
mwe.lof
mwe.log
mwe.lot
mwe.run.xml
mwe.synctex.gz
mwe.tdo
mwe.toc
paper.synctex.gz
.paper.blg.swp
hotspots-paper.log
.DS_Store
