*.tex
*.html
*.pdf
paper.fdb_latexmk
paper.fls
paper.log
paper.out
paper.aux
paper.bbl
paper.bcf
paper.blg
paper.run.xml
paper.toc
paper.lof
paper.lot
paper.tdo
paper.dvi
paper.synctex(busy)
missfont.log
_cache
Chr13_files
Chr5_files
Chr2_files
