genoprobs.rds
timbr-chr2-10ksamples.rds
Chr11_scan1_out.rds
Chr11_scan1coef_out.rds
Chr13_scan1_out.rds
Chr13_scan1coef_out.rds
Chr2_scan1_out.rds
Chr2_scan1coef_out.rds
Chr5_scan1_out.rds
Chr5_scan1coef_out.rds
Chr7_scan1_out.rds
Chr7_scan1coef_out.rds
Chr11_scan1coef_blups.rds
Chr13_scan1coef_blups.rds
Chr2_scan1coef_blups.rds
Chr5_scan1coef_blups.rds
Chr7_scan1coef_blups.rds
attie_DO500_genoprobs_v5_36state_chr11.rds
attie_DO500_genoprobs_v5_36state_chr13.rds
attie_DO500_genoprobs_v5_36state_chr2.rds
attie_DO500_genoprobs_v5_36state_chr5.rds
attie_DO500_genoprobs_v5_36state_chr7.rds
timbr-chr2-3samples.rds
