genoprobs.rds
Chr11_scan1_out.rds
Chr11_scan1coef_out.rds
Chr13_scan1_out.rds
Chr13_scan1coef_out.rds
Chr2_scan1_out.rds
Chr2_scan1coef_out.rds
Chr5_scan1_out.rds
Chr5_scan1coef_out.rds
Chr7_scan1_out.rds
Chr7_scan1coef_out.rds
Chr11_scan1coef_blups.rds
Chr13_scan1coef_blups.rds
Chr2_scan1coef_blups.rds
Chr5_scan1coef_blups.rds
Chr7_scan1coef_blups.rds
